#likes
  %h3 Popularity
  %p= like_counter(template)
  - if githubber_signed_in? && !current_githubber.liked?(template)
    .link-default.rounded-all
      = link_to 'I like it', template_likes_path(template), :method => :post, :id => 'like_button', :remote => true, "data-type" => "html"
  
  - if !githubber_signed_in?
    .link-default.rounded-all
      = link_to 'I like it', new_githubber_session_path, :id => 'like_button'
  .break
