= image_tag "embed/icons/loader.gif", :alt => "Loading...", :title => "Loading..."
.work{:title => pluralize(template.stats[:working].first, "Vote"), :style => "width: #{ template.stats[:working].last}%;" }
.doesnt-work{ :title => pluralize(template.stats[:not_working].first, "Vote"), :style => "width: #{ template.stats[:not_working].last}%;"}
