#create-template.rounded-all
  %h2 Step 1
  = form_for @template do
    %fieldset.inputs
      %ol
        %li= text_field_tag :github_url, nil, :placeholder=>'Paste here your gist URL'
    %fieldset.buttons
      %ol
        %li= submit_tag 'Next', :class => "rounded-all"
