// All Structure ----------------
*
  margin: 0
  padding: 0
  outline: none

a
  text-decoration: none
  color: #fff
  img
    border: none

a:hover
  text-decoration: underline

// Default ----------------------

.break
  clear: both
  height: 0px

.replacement
  text-indent: -999999px
  display: block

.link-default
  font-size: 14px
  padding: 4px 5px
  background: url("../images/embed/backgrounds/common.png") repeat
  -moz-border-radius: 6px
  -webkit-border-radius: 6px
  border-radius: 6px
  float: left

.link-default:hover
  background: url("../images/embed/backgrounds/common3.png") repeat
  text-decoration: none


.line-divisor
  margin: 25px 0
  float: left
  width: 996px
  padding: 2px
  background: url("../images/embed/backgrounds/common3.png") repeat
  -moz-border-radius: 6px
  -webkit-border-radius: 6px
  border-radius: 6px

table
  width: 100%
  border-collapse: collapse
  td
    a.edit-template,
    a.delete-template
      background: url("../images/embed/icons/edit.png") right 0 no-repeat
      height: 16px
      float: left
      padding: 0 20px 0 0
    a.delete-template
      background: url("../images/embed/icons/delete.png") right 0 no-repeat

  td.name-template
    width: 80%


// Structure --------------------
body
  color: #36424A
  font: 12px "Trebuchet MS", arial, sans-serif
  background: url("../images/embed/backgrounds/main.jpg") repeat
  article
    margin: 0 auto
    width: 1000px

  // HEADER ----------------------
  header
    margin: 36px 0 0
    width: 100%
    float: left

    // LOGO ---------------------
    #rails-templates
      background: url("../images/embed/logos/rails_templates.png") repeat
      float: left
      width: 417px
      height: 54px

    // USER ---------------------
    #current_githubber
      float: right
      width: 324px
      img
        float: left
        background: url("../images/embed/backgrounds/common.png") repeat
        padding: 4px
        opacity: 0.8
      img:hover
        background: url("../images/embed/backgrounds/common3.png") repeat
        opacity: 1
      p
        float: left
        font-size: 16px
        margin: 15px 0 0 10px
        color: #fff
      em
        color: #36424A
      a
        float: right
        display: block
        margin: 11px 0 0
        font-size: 14px
        padding: 4px 26px 4px 5px
        background: url("../images/embed/icons/github.png") right -32px no-repeat
        -moz-border-radius: 6px
        -webkit-border-radius: 6px
        border-radius: 6px
      a:hover
        text-decoration: none
        background: url("../images/embed/icons/github.png") right -2px no-repeat

    // MENU --------------------
    #menu
      float: left
      list-style: none
      margin: 15px 0 0
      li
        float: left
        margin: 0 10px 0 0
        a
          font-size: 14px
          padding: 3px 5px
          background: url("../images/embed/backgrounds/common.png") repeat
          -moz-border-radius: 6px
          -webkit-border-radius: 6px
          border-radius: 6px
        a:hover
          text-decoration: none
          background: url("../images/embed/backgrounds/common3.png") repeat
    .sign-in
      float: right
      -moz-border-radius: 6px
      -webkit-border-radius: 6px
      border-radius: 6px

    // SEARCH AREA --------------
    #search_box
      float: right
      width: 324px
      height: 47px
      background: url("../images/embed/backgrounds/common.png") repeat
      -moz-border-radius: 6px
      -webkit-border-radius: 6px
      border-radius: 6px
      label
        display: none
      input
        float: left
        padding: 2px
        width: 264px
        height: 35px
        margin: 4px 0 0 4px
        border: none
        font-size: 18px
        color: #fff
        background: url("../images/embed/backgrounds/common2.png") repeat
      input.search-button
        float: right
        width: 26px
        height: 25px
        background: url("../images/embed/icons/search-button.png") 0 bottom repeat
        border: none
        text-indent: -99999px
        line-height: 0
        font-size: 0
        margin: 10px 12px 0 0
        cursor: pointer
      input.search-button:hover
        background-position: 0 top

  // FOOTER -------------------
  #footer
    float: left

  // MAIN ---------------------
  #main
    float: left

  // HOME ---------------------
  #holder-home
    width: 980px
    float: left
    padding: 10px
    background: url("../images/embed/backgrounds/common3.png") repeat
    -moz-border-radius: 6px
    -webkit-border-radius: 6px
    border-radius: 6px
    #home-message
      background: url("../images/embed/backgrounds/common2.png") repeat
      color: #fff
      float: left
      width: 100%
      h1
        font-size: 40px
        font-weight: normal
        background: url("../images/embed/texts/title1.png") no-repeat
        width: 949px
        height: 48px
        float: left
        margin: 20px 15px
      h2
        float: right
        font-size: 26px
        font-weight: normal
        background: url("../images/embed/texts/title2.png") no-repeat
        height: 27px
        width: 775px
        margin: 10px 20px 20px 20px

  // Most downloaded ---------
  #ranked,
  #latest,
  #liked,
  #my-templates
    margin: 30px 0 0 0
    width: 465px
    padding: 10px
    float: left
    background: url("../images/embed/backgrounds/common.png") repeat
    -moz-border-radius: 6px
    -webkit-border-radius: 6px
    border-radius: 6px
    h2
      float: left
      width: 100%
      color: #36424A
      margin: 0 0 20px
      font-size: 16px
    ul
      list-style: none
      float: left
      width: 100%
      li
        float: left
        width: 457px
        padding: 8px 4px
        a,
        span
          float: left
        a
          margin: 0 5px 0 0
        span
          color: #36424A
          em
            color: #CCCAA9

      .one
        background: url("../images/embed/backgrounds/common2.png") repeat
      li:hover
        background: url("../images/embed/backgrounds/common4.png") repeat

  #ranked
    float: right
  #my-templates
    margin: 0
// Dashboard -------------------
section#left
  float: left
  width: 700px
  #my-templates,
  #liked
    width: 670px
    li
      width: 662px
section#right
  float: right
  width: 300px
