// All Structure ----------------
*
  margin: 0
  padding: 0
  outline: none

a
  text-decoration: none
  color: #fff
  img
    border: none

a:hover
  text-decoration: underline

// Default ----------------------
.break
  clear: both
  height: 0px

.replacement
  text-indent: -999999px
  display: block

// Structure --------------------
body
  font: 12px "Trebuchet MS", arial, sans-serif
  background: url("../images/embed/backgrounds/main.jpg") repeat
  #rr10sash
    width: 200px !important
    height: 200px !important
  #wrap
    margin: 0 auto
    width: 1000px
  header
    border-bottom: 1px solid #fff
    padding: 0 0 20px
    width: 100%
    float: left
    margin: 36px 0
    #rails-templates
      background: url("../images/embed/logos/rails_templates.png") repeat
      text-indent: -99999px
      display: block
      float: left
      width: 417px
      height: 54px
    #current_githubber
      float: right
      width: 324px
      img
        float: left
        background: url("../images/embed/backgrounds/common.png") repeat
        padding: 4px
      img:hover
        background: url("../images/embed/backgrounds/common2.png") repeat
      p
        float: left
        font-size: 18px
        margin: 15px 0 0 10px
        color: #fff
      a
        float: right
        margin: 18px 0 0
    #menu
      float: left
      list-style: none
      margin: 19px 0 0 0
      li
        float: left
        margin: 0 10px 0 0
        a
          padding: 3px
          background: url("../images/embed/backgrounds/common.png") repeat
        a:hover
          text-decoration: none
          background: url("../images/embed/backgrounds/common2.png") repeat
    .sign-in
      float: right
    #search_box
      float: right
      width: 324px
      height: 47px
      background: url("../images/embed/backgrounds/common.png") repeat
      label
        display: none
      input
        float: left
        padding: 2px
        width: 264px
        height: 35px
        margin: 4px 0 0 4px
        border: none
        font-size: 18px
        color: #fff
        background: url("../images/embed/backgrounds/common2.png") repeat
      input.search-button
        float: right
        width: 26px
        height: 25px
        background: url("../images/embed/icons/search-button.png") 0 bottom repeat
        border: none
        text-indent: -99999px
        line-height: 0
        font-size: 0
        margin: 10px 12px 0 0
        cursor: pointer
      input.search-button:hover
        background-position: 0 top