* {
  margin: 0;
  padding: 0;
  outline: none; }

a {
  text-decoration: none;
  color: white; }
  a img {
    border: none; }

a:hover {
  text-decoration: underline; }

.break {
  clear: both;
  height: 0px; }

.replacement {
  text-indent: -999999px;
  display: block; }

.link-default {
  font-size: 14px;
  padding: 4px 5px;
  background: url("/images/embed/backgrounds/common4.png") repeat;
  float: left; }

.link-default:hover {
  background: url("/images/embed/backgrounds/common3.png") repeat;
  text-decoration: none; }

.line-divisor {
  margin: 25px 0;
  float: left;
  width: 99.6%;
  padding: 2px;
  background: url("/images/embed/backgrounds/common3.png") repeat; }

table {
  width: 100%;
  border-collapse: collapse; }
  table td a.edit-template,
  table td a.delete-template {
    background: url("/images/embed/icons/edit.png") left 0 no-repeat;
    height: 16px;
    float: left;
    padding: 0 0 0 25px; }
  table td a.delete-template {
    background: url("/images/embed/icons/delete.png") left 0 no-repeat; }
  table td.name-template {
    width: 78%; }

.rounded-all {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px; }

.textbox p {
  margin: 0 0 10px 0; }
.textbox ol {
  margin: 0 20px; }

h2 {
  float: left;
  width: 100%;
  color: #36424a;
  margin: 0 0 20px;
  font-size: 16px; }

h1.parent-title {
  font-size: 20px;
  margin: 0 0 20px;
  color: #36424a; }

body {
  color: #36424a;
  font: 12px "Trebuchet MS", arial, sans-serif;
  background: url("/images/embed/backgrounds/main.jpg") repeat; }
  body article {
    display: block;
    margin: 0 auto 30px auto;
    width: 1000px; }
  body header {
    display: block;
    margin: 36px 0 0;
    width: 100%;
    float: left; }
    body header #rails-templates {
      background: url("/images/embed/logos/rails_templates.png") repeat;
      float: left;
      width: 417px;
      height: 54px; }
    body header #current_githubber {
      float: right; }
      body header #current_githubber img {
        float: left;
        background: url("/images/embed/backgrounds/common.png") repeat;
        padding: 4px;
        opacity: 0.8; }
      body header #current_githubber img:hover {
        background: url("/images/embed/backgrounds/common3.png") repeat;
        opacity: 1; }
      body header #current_githubber p {
        float: left;
        font-size: 16px;
        margin: 15px 20px 0 10px;
        color: white; }
      body header #current_githubber em {
        color: #36424a; }
      body header #current_githubber a {
        float: right;
        display: block;
        margin: 11px 0 0;
        font-size: 14px;
        padding: 4px 26px 4px 5px;
        background: url("/images/embed/icons/github.png") right -32px no-repeat; }
      body header #current_githubber a:hover {
        text-decoration: none;
        background: url("/images/embed/icons/github.png") right -2px no-repeat; }
    body header #menu {
      float: left;
      list-style: none;
      margin: 15px 0 0; }
      body header #menu li {
        float: left;
        margin: 0 10px 0 0; }
        body header #menu li a {
          font-size: 14px;
          padding: 3px 5px;
          background: url("/images/embed/backgrounds/common.png") repeat; }
        body header #menu li a:hover {
          text-decoration: none;
          background: url("/images/embed/backgrounds/common3.png") repeat; }
    body header .sign-in {
      float: right; }
    body header #search_box {
      float: right;
      width: 324px;
      height: 47px;
      background: url("/images/embed/backgrounds/common.png") repeat; }
      body header #search_box label {
        display: none; }
      body header #search_box input {
        float: left;
        padding: 2px;
        width: 264px;
        height: 35px;
        margin: 4px 0 0 4px;
        border: none;
        font-size: 18px;
        color: white;
        background: url("/images/embed/backgrounds/common2.png") repeat; }
      body header #search_box input.search-button {
        float: right;
        width: 26px;
        height: 25px;
        background: url("/images/embed/icons/search-button.png") 0 bottom repeat;
        border: none;
        text-indent: -99999px;
        line-height: 0;
        font-size: 0;
        margin: 10px 12px 0 0;
        cursor: pointer; }
      body header #search_box input.search-button:hover {
        background-position: 0 top; }
  body #main,
  body #footer {
    display: block;
    float: left;
    width: 100%; }
  body #footer {
    margin: 0 0 30px; }
    body #footer .holder-content {
      text-align: center;
      font-size: 10px; }
      body #footer .holder-content a {
        color: #36424a;
        font-weight: bold; }
      body #footer .holder-content p {
        margin: 0 0 10px 0;
        font-size: 12px; }
  body #explanation,
  body #error,
  body #holder-home {
    width: 980px;
    float: left;
    padding: 10px;
    background: url("/images/embed/backgrounds/common3.png") repeat; }
    body #explanation .home-message,
    body #error .home-message,
    body #holder-home .home-message {
      background: url("/images/embed/backgrounds/common2.png") repeat;
      color: white;
      float: left;
      width: 100%; }
      body #explanation .home-message h1,
      body #error .home-message h1,
      body #holder-home .home-message h1 {
        font-size: 40px;
        font-weight: normal;
        background: url("/images/embed/texts/title1.png") no-repeat;
        width: 949px;
        height: 48px;
        float: left;
        margin: 20px 15px; }
      body #explanation .home-message h2,
      body #error .home-message h2,
      body #holder-home .home-message h2 {
        float: right;
        font-size: 26px;
        font-weight: normal;
        background: url("/images/embed/texts/title2.png") no-repeat;
        height: 27px;
        width: 775px;
        margin: 10px 20px 20px 20px; }
  body #explanation,
  body #error {
    margin: 20px 0 0 0;
    background: url("/images/embed/backgrounds/common3.png") repeat; }
    body #explanation .home-message,
    body #error .home-message {
      background: url("/images/embed/backgrounds/common2.png") repeat; }
      body #explanation .home-message p,
      body #error .home-message p {
        margin: 10px;
        font-size: 18px; }
  body #error .home-message h1,
  body #error .home-message p {
    width: 100%;
    margin: 20px 0;
    padding: 0 0 85px 0;
    text-align: center;
    background: url("/images/embed/icons/404.png") center bottom no-repeat;
    text-indent: none; }
  body #error .home-message h1 {
    padding: 0;
    background: none; }
  body #error .home-message p.other-error {
    background: url("/images/embed/icons/500.png") center bottom no-repeat; }
  body #ranked,
  body #latest,
  body #liked,
  body #my-templates,
  body #getting-started {
    margin: 30px 0 0 0;
    width: 465px;
    padding: 10px;
    float: left;
    background: url("/images/embed/backgrounds/common.png") repeat; }
    body #ranked h2,
    body #latest h2,
    body #liked h2,
    body #my-templates h2,
    body #getting-started h2 {
      float: left;
      width: 100%;
      color: #36424a;
      margin: 0 0 20px;
      font-size: 16px; }
    body #ranked ul,
    body #latest ul,
    body #liked ul,
    body #my-templates ul,
    body #getting-started ul {
      list-style: none;
      float: left;
      width: 100%; }
      body #ranked ul li,
      body #latest ul li,
      body #liked ul li,
      body #my-templates ul li,
      body #getting-started ul li {
        float: left;
        width: 449px;
        padding: 8px; }
        body #ranked ul li a,
        body #ranked ul li p,
        body #latest ul li a,
        body #latest ul li p,
        body #liked ul li a,
        body #liked ul li p,
        body #my-templates ul li a,
        body #my-templates ul li p,
        body #getting-started ul li a,
        body #getting-started ul li p {
          float: left; }
        body #ranked ul li a,
        body #latest ul li a,
        body #liked ul li a,
        body #my-templates ul li a,
        body #getting-started ul li a {
          margin: 0 5px 0 0; }
        body #ranked ul li p,
        body #latest ul li p,
        body #liked ul li p,
        body #my-templates ul li p,
        body #getting-started ul li p {
          float: right;
          color: #36424a;
          padding: 0 0 0 20px; }
        body #ranked ul li .liked,
        body #latest ul li .liked,
        body #liked ul li .liked,
        body #my-templates ul li .liked,
        body #getting-started ul li .liked {
          background: url("/images/embed/icons/heart.png") no-repeat; }
      body #ranked ul .one,
      body #latest ul .one,
      body #liked ul .one,
      body #my-templates ul .one,
      body #getting-started ul .one {
        background: url("/images/embed/backgrounds/common2.png") repeat; }
      body #ranked ul li:hover,
      body #latest ul li:hover,
      body #liked ul li:hover,
      body #my-templates ul li:hover,
      body #getting-started ul li:hover {
        background: url("/images/embed/backgrounds/common4.png") repeat; }
  body #ranked {
    float: right; }
  body #my-templates {
    margin: 0; }
  body section#left {
    display: block;
    float: left;
    width: 700px; }
    body section#left #my-templates,
    body section#left #liked,
    body section#left #getting-started {
      width: 670px;
      margin: 0 0 30px 0; }
      body section#left #my-templates li,
      body section#left #liked li,
      body section#left #getting-started li {
        width: 655px; }
    body section#left #liked td.name-template {
      width: 575px; }
    body section#left #liked li a.unlike-template {
      background: url("/images/embed/icons/broken-heart.png") left top no-repeat transparent;
      padding: 0 0 0 24px; }
  body section#right {
    display: block;
    float: right;
    width: 300px; }
  body #create-template {
    width: 980px;
    float: left;
    background: url("/images/embed/backgrounds/common.png") repeat;
    padding: 10px; }
    body #create-template ul {
      list-style: none; }
    body #create-template h2 {
      margin-bottom: 5px; }
    body #create-template .invalid {
      text-align: left;
      margin-top: 5px;
      color: #c22d0a; }
    body #create-template h4 {
      float: left;
      width: 960px;
      padding: 10px;
      margin-bottom: 5px;
      background: url("/images/embed/backgrounds/common2.png") repeat;
      font-size: 18px; }
    body #create-template form {
      float: left;
      width: 100%; }
      body #create-template form fieldset {
        border: none; }
        body #create-template form fieldset ol {
          list-style: none; }
      body #create-template form fieldset.inputs label {
        float: left;
        width: 100%;
        margin: 10px 0 8px; }
        body #create-template form fieldset.inputs label abbr {
          display: none; }
      body #create-template form fieldset.inputs select,
      body #create-template form fieldset.inputs input,
      body #create-template form fieldset.inputs textarea {
        float: left;
        padding: 2px;
        width: 978px;
        height: 35px;
        border: none;
        font-size: 18px;
        color: white;
        background: url("/images/embed/backgrounds/common2.png") repeat; }
      body #create-template form fieldset.inputs select:focus,
      body #create-template form fieldset.inputs input:focus,
      body #create-template form fieldset.inputs textarea:focus {
        background: url("/images/embed/backgrounds/common3.png") repeat; }
      body #create-template form fieldset.inputs textarea {
        height: 200px;
        font: 18px "Trebuchet MS", arial, sans-serif; }
      body #create-template form fieldset.inputs select option {
        background: url("/images/embed/backgrounds/common3.png") repeat; }
      body #create-template form fieldset.buttons input {
        float: right;
        margin: 10px 0 0 0;
        padding: 4px 10px;
        border: none;
        font-size: 18px;
        color: white;
        background: url("/images/embed/backgrounds/common4.png") repeat; }
      body #create-template form fieldset.buttons input:hover {
        background: url("/images/embed/backgrounds/common3.png") repeat; }
  body #template-view {
    float: left;
    width: 100%; }
    body #template-view #left {
      background: url("/images/embed/backgrounds/common.png") repeat;
      width: 660px;
      padding: 10px; }
      body #template-view #left h2 {
        margin-bottom: 10px; }
      body #template-view #left .holder-content {
        background: url("/images/embed/backgrounds/common2.png") repeat;
        float: left;
        padding: 10px;
        width: 640px; }
    body #template-view #right {
      margin: 20px 0 0 0;
      position: relative;
      width: 280px;
      background: url("/images/embed/backgrounds/common3.png") repeat;
      padding: 10px;
      -moz-border-radius: 0px 6px 6px 6px;
      -webkit-border-radius: 0px 6px 6px 6px;
      border-radius: 0px 6px 6px 6px; }
      body #template-view #right h2 {
        margin-bottom: 3px; }
      body #template-view #right .author {
        margin-bottom: 10px; }
        body #template-view #right .author a {
          color: #cccccc; }
      body #template-view #right .corner {
        position: absolute;
        top: 0px;
        left: -21px;
        width: 36px;
        height: 77px;
        background: url("/images/embed/backgrounds/corner.png") no-repeat; }
      body #template-view #right .holder-content {
        background: url("/images/embed/backgrounds/common2.png") repeat;
        float: left;
        padding: 10px;
        width: 260px; }
        body #template-view #right .holder-content ul {
          list-style: none; }
        body #template-view #right .holder-content .line-divisor {
          margin: 10px 0; }
        body #template-view #right .holder-content h3 {
          font-size: 14px;
          margin: 0 0 5px; }
        body #template-view #right .holder-content #downloads .holder-content,
        body #template-view #right .holder-content #likes .holder-content {
          width: 242px;
          margin: 5px 0;
          padding: 5px 8px; }
          body #template-view #right .holder-content #downloads .holder-content a,
          body #template-view #right .holder-content #likes .holder-content a {
            overflow: hidden;
            float: left;
            width: 210px;
            height: 18px; }
          body #template-view #right .holder-content #downloads .holder-content #d_clip_button,
          body #template-view #right .holder-content #likes .holder-content #d_clip_button {
            cursor: pointer;
            width: 16px;
            height: 16px;
            background: url("/images/embed/icons/clipboard.png") no-repeat;
            float: right; }
        body #template-view #right .holder-content #likes .link-default {
          float: right; }
          body #template-view #right .holder-content #likes .link-default a {
            padding-right: 20px;
            background: url("/images/embed/icons/heart.png") right 0 no-repeat; }
        body #template-view #right .holder-content #likes p {
          float: left;
          margin: 6px 0 0 0; }
        body #template-view #right .holder-content #working_status ul li {
          float: left;
          margin: 0 5px 0 0; }
          body #template-view #right .holder-content #working_status ul li .link-default {
            background: url("/images/embed/backgrounds/common3.png") repeat; }
          body #template-view #right .holder-content #working_status ul li a {
            padding-right: 20px; }
          body #template-view #right .holder-content #working_status ul li a#work_button {
            background: url("/images/embed/icons/work.png") right 0 no-repeat; }
          body #template-view #right .holder-content #working_status ul li a#not_work_button {
            background: url("/images/embed/icons/not_work.png") right 0 no-repeat; }
          body #template-view #right .holder-content #working_status ul li .link-default:hover {
            background: url("/images/embed/backgrounds/common2.png") repeat; }
        body #template-view #right .holder-content #working_status ul li:last-child {
          margin: 0; }
        body #template-view #right .holder-content #working_status .holder-content {
          background: url("/images/embed/backgrounds/common3.png") repeat;
          float: left;
          width: 140px;
          margin: 0;
          padding: 5px;
          position: relative; }
          body #template-view #right .holder-content #working_status .holder-content img {
            display: none;
            width: 150px;
            height: 26px;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 3; }
          body #template-view #right .holder-content #working_status .holder-content .work {
            background: #759466;
            width: 80%;
            height: 16px;
            float: left;
            position: relative;
            z-index: 1; }
          body #template-view #right .holder-content #working_status .holder-content .doesnt-work {
            width: 20%;
            height: 16px;
            background: #d24f56;
            float: left;
            position: relative;
            z-index: 1; }
        body #template-view #right .holder-content #tag_list a {
          color: #36424a; }
        body #template-view #right .holder-content #commentaries p.notice {
          margin: 0 0 10px 0; }
        body #template-view #right .holder-content #commentaries .commentary {
          float: left;
          width: 100%;
          margin: 0 0 10px 0; }
        body #template-view #right .holder-content #commentaries .comment {
          background: url("/images/embed/backgrounds/common2.png") repeat;
          padding: 5px;
          position: relative; }
          body #template-view #right .holder-content #commentaries .comment p {
            margin: 0 0 5px 0; }
          body #template-view #right .holder-content #commentaries .comment .arrow-comment {
            position: absolute;
            width: 10px;
            height: 5px;
            background: url("/images/embed/icons/small-arrow.png") repeat;
            bottom: -5px;
            left: 13px; }
        body #template-view #right .holder-content #commentaries .comment-author {
          padding: 5px; }
          body #template-view #right .holder-content #commentaries .comment-author .gravatar {
            float: left; }
          body #template-view #right .holder-content #commentaries .comment-author .author {
            margin: 0 0 0 10px;
            float: left; }
            body #template-view #right .holder-content #commentaries .comment-author .author .login {
              font-size: 14px; }
              body #template-view #right .holder-content #commentaries .comment-author .author .login a {
                color: white; }
            body #template-view #right .holder-content #commentaries .comment-author .author .when {
              font-size: 10px; }
        body #template-view #right .holder-content #commentaries form fieldset {
          border: none; }
          body #template-view #right .holder-content #commentaries form fieldset li {
            list-style: none; }
        body #template-view #right .holder-content #commentaries form .inputs label {
          font-weight: bold;
          margin: 0 0 5px 0;
          display: block; }
        body #template-view #right .holder-content #commentaries form .inputs textarea {
          background: url("/images/embed/backgrounds/common2.png") repeat;
          color: white;
          padding: 2px;
          width: 255px;
          height: 200px;
          font: 12px "Trebuchet MS", arial, sans-serif;
          border: none; }
        body #template-view #right .holder-content #commentaries form .buttons .error {
          float: left;
          width: 130px;
          margin: 10px 0 0 0;
          color: #c22d0a; }
        body #template-view #right .holder-content #commentaries form .buttons input {
          float: right;
          margin: 10px 0 0 0;
          padding: 4px 10px;
          border: none;
          font-size: 18px;
          color: white;
          background: url("/images/embed/backgrounds/common4.png") repeat; }
        body #template-view #right .holder-content #commentaries form .buttons input:hover {
          background: url("/images/embed/backgrounds/common3.png") repeat; }
  body #all-templates ul {
    list-style: none; }
    body #all-templates ul li {
      float: left;
      width: 100%;
      margin: 0 0 10px; }
      body #all-templates ul li #left.rounded-all {
        background: url("/images/embed/backgrounds/common2.png") repeat;
        float: left;
        padding: 10px;
        width: 670px; }
        body #all-templates ul li #left.rounded-all a {
          float: left;
          width: 100%; }
        body #all-templates ul li #left.rounded-all h2 {
          margin: 0 0 5px; }
      body #all-templates ul li #left:hover {
        background: url("/images/embed/backgrounds/common4.png") repeat; }
      body #all-templates ul li #right.rounded-all {
        width: 280px;
        background: url("/images/embed/backgrounds/common.png") repeat;
        padding: 10px; }
        body #all-templates ul li #right.rounded-all p {
          padding: 0 0 0 20px; }
        body #all-templates ul li #right.rounded-all p:first-child {
          margin: 0 0 10px; }
        body #all-templates ul li #right.rounded-all .download {
          background: url("/images/embed/icons/down.png") no-repeat; }
        body #all-templates ul li #right.rounded-all .liked {
          background: url("/images/embed/icons/heart.png") no-repeat; }
  body #all-templates .pagination {
    float: left; }
    body #all-templates .pagination span,
    body #all-templates .pagination a {
      float: left;
      margin: 0 5px;
      color: #36424a; }
    body #all-templates .pagination .current {
      color: white; }
    body #all-templates .pagination .prev_page,
    body #all-templates .pagination .next_page {
      text-indent: -9999px;
      width: 16px;
      height: 16px;
      float: left;
      margin: 0 10px 0 0;
      background: url("/images/embed/icons/arrow.png") left top no-repeat; }
    body #all-templates .pagination .next_page {
      background: url("/images/embed/icons/arrow.png") right top no-repeat;
      margin: 0 0 0 10px; }
    body #all-templates .pagination .disabled.prev_page {
      background: url("/images/embed/icons/arrow.png") left -17px no-repeat; }
    body #all-templates .pagination .disabled.next_page {
      background: url("/images/embed/icons/arrow.png") right -17px no-repeat; }
    body #all-templates .pagination .prev {
      text-indent: auto;
      background: none; }

#source_code.loading {
  height: 300px;
  background: url("/images/embed/icons/loader.gif") no-repeat center 142px; }

#downloads .notice {
  display: none;
  color: white;
  float: left;
  width: 210px;
  height: 18px; }
