* {
  margin: 0 0 0 0;
  outline: none;
  padding: 0; }

body {
  background: url("../images/embed/backgrounds/main.jpg") repeat; }
  body #wrap {
    margin: 0 auto;
    width: 1000px; }
  body header #rails-rumble {
    background: url("../images/embed/logos/rails_templates.png") repeat;
    text-indent: -99999px;
    display: block;
    float: left;
    width: 417px;
    height: 54px;
    margin: 20px 0 0 0; }
