.holder-content.rounded-all
  %p
    This project has been built by Sampa On Rails team (<a href="http://twitter.com/azisaka" target="_blank">@azisaka</a>, <a href="http://twitter.com/lucasmazza" target="_blank">@lucasmazza</a>, <a href="http://twitter.com/rlmflores" target="_blank">@rlmflores</a> and <a href="http://twitter.com/wylkon" target="_blank">@wylkon</a>) for Rails Rumble
  How many times did you saw yourself wishing for
  = link_to "beers", "http://beercheckin.r10.railsrumble.com/", :target => "_blank"
  and chicks while you were wasting time configuring Rails stuff, RSpec, Gems? Get a life!
