How many times did you saw yourself wishing for 
= link_to "beers", "http://beercheckin.r10.railsrumble.com/", :target => "_blank"
and chicks while you were wasting time configuring Rails stuff, RSpec, Gems? 
%br
Here is the solution for you!