#error.rounded-all
  .home-message
    %h1 Dude, what are you doing here? Are you lost?
    %p Try to search something at the top of this page or click on our logo to check out some awesome templates for your project.