#holder-home
  #home-message
    %h1.replacement Take a shortcut to your templates
    %h2.replacement Find the best to kick off your project
#latest
  %ul
    - @latest.each do |template|
      %li
        = link_to template.title, template
        %span= time_ago_in_words(template.created_at)
#ranked
  %ul
    - @ranked.each do |ranked|
      %li
        = link_to ranked.title, ranked
        %span= pluralize(ranked.likes.count, "Like")