%table
- @templates.each do |template| 
  %tr
    %td= link_to template.title, template
    %td= link_to 'edit', edit_my_template_path(template)
    %td= link_to 'delete', my_template_path(template), :method => :delete
